/Dokumentacija/*.aux
/Dokumentacija/*.lof
/Dokumentacija/*.log
/Dokumentacija/*.lot
/Dokumentacija/*.out
/Dokumentacija/*.synctex.gz
/Dokumentacija/*.toc
/Dokumentacija/*.pdf
*.idea
*.DS_Store
node_modules/
