body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.dodavanje {
    overflow-y: scroll;
    width: 100%;
}

.naslov-dodavanje {
    margin-top: 3%;
    text-align: center;
    color: #333;
}

.add-form {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 2vw;
}

.dogadjanja-labele {
    margin-top: 1%;
    font-weight: bold;
}

.add, .dodaj-dogadjanje {
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dodaj-dogadjanje {
    margin-top: 2%;
    background-color: #4c60af;
    color: #fff;
    cursor: pointer;
}

.dodaj-dogadjanje:hover {
    background-color: #45a049;
}

.instructions {
    color: red;
    font-size: larger;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    max-width: 90%;
    z-index: 1001;
}
 
 .modal-content {
    background-color: white;
    padding: 20px;
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-family: Helvetica, sans-serif;
 }
 
 .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
 }
 
 .modal-content div {
    margin-bottom: 10px;
 }

 .add.error {
    border: 1px solid red;
}