@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.container {
    width: 100%;
    margin-top: 3rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .container1 {
    width: 100%;
    margin-top: 3rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
.KontejnerZaKarice {
    overflow-y: scroll;
  }
 .glavniKontejner{
  display: grid;
  width: 80vw;
 }
 .kontejnerZaNavbar{
  height: 5vh;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  margin-top: 2rem;
 }
body {
    font-family: 'Open Sans', sans-serif;
    background: #ffffff;
}
.navigacijaEvents{
    position: relative;
    /*
    margin: 270px auto 0;
    width: 590px;
     height: 50px;
     */
    background: #ffffff;
    border-radius: 8px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
.navigacijaEvents a.active {
    background-color: #1abc9c;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    height: 100%;
  }
  .navigacijaEvents a.active~.animation {
    display: none;
  }
.navigacijaEvents a{
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}
.navigacijaEvents .animation{
    position: absolute;
    height: 100%;
    /* height: 5px; */
    top: 0;
    /* bottom: 0; */
    z-index: 0;
    background: #1abc9c; /* 1abc9c */
    border-radius: 8px;
    transition: all .5s ease 0s;
}
.dvadesetCetriSataCss{
    width: 15vw;
    
}
.navigacijaEvents .start-home, .dvadesetCetriSataCss:hover~.animation{
    width: 15vw;
    left: 0;
}
.sedanDanaCss{
    width: 15vw;
}
.sedanDanaCss:hover~.animation{
    width: 15vw;
    left: 15vw;
}
.tridesetDanaCss{
    width: 15vw;
}
.tridesetDanaCss:hover~.animation{
    width: 15vw;
    left: 30vw;
}
.cetrdesetOsamSatiCss{
    width: 15vw;
}
.cetrdesetOsamSatiCss:hover~.animation{
    width: 15vw;
    left: 45vw;
}
.sveCss{
    width: 15vw;
}
@media (max-width: 768px) {
    .glavniKontejner{
        width: 100vw;
    }
    .KontejnerZaKarice{
        overflow-y: scroll;
        height: 80vh;
        padding-top: 1rem;
    }
    .kontejnerZaNavbar{
        width: 100vw;
    }
    .navigacijaEvents a{
        font-size: 10px;
        width: 16vw;
    }
    .dvadesetCetriSataCss{
        width: 16vw;
    }
    .sedanDanaCss{
        width: 16vw;
    }
    .tridesetDanaCss{
        width: 16vw;
    }
    .cetrdesetOsamSatiCss{
        width: 16vw;
    }
    .navigacijaEvents{
        width: 80vw !important
    }
    .navigacijaEvents .animation {
        width: 16vw;
        transition: all .5s ease 0s;
    }
    .navigacijaEvents .start-home, .dvadesetCetriSataCss:hover~.animation{
        width: 16vw;
        left: 0;
    }
    .sedanDanaCss:hover~.animation{
        width: 16vw;
        left: 16vw;
    }
    .tridesetDanaCss:hover~.animation{
        width: 16vw;
        left: 32vw;
    }
    .cetrdesetOsamSatiCss:hover~.animation{
        width: 16vw;
        left: 48vw;
    }
    .sveCss{
        width: 16vw !important;
    }
    .sveCss:hover~.animation{
            width: 16vw;
            left: 64vw;
    }
  }
  
  @media (max-width: 768px) {
    nav a{
        font-size: 8px;
    }

  }