

.main-content {
   display: flex;
    flex-direction: column;
    align-items: center;

}

.main-content-title {
   text-align: center;
   margin-top: 3%;
   text-decoration: none;
   color: black;
   font-family:  Helvetica, sans-serif;
   letter-spacing: 2px;
   font-weight: bold;
}
 
.title-box a {
   text-decoration: none; /* uklanja podcrtavanje */
   color: black;
}

.main-content-image {
   width: 100%;
   display: flex;
   justify-content: center; 
   align-items: center;
   margin-bottom: 10px;
}

.main-content-image img {
   width: 67%; 
   margin-top: 1%;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
}
 
.main-content-text {
   text-align: center;
   margin-top: 1.5%;
   color: black;
   font-family:  Helvetica, sans-serif;
   letter-spacing: 1px;
   font-size: 18px;
}
 
.more-info {
   color: black;
   transition: 0.3s;
   text-decoration: underline;
   text-decoration-color: black;
   text-underline-offset: 5%;
}
 
.more-info:hover {
   color: #FF6B6B;
   text-decoration: underline;
   text-decoration-color: #FF6B6B;
}

@media only screen and (max-width: 768px) {
   .main-content {
       margin-left: 5px;
       margin-right: 5px;
   }
}