@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.container {
    width: 100%;
    margin-top: 3rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
.KontejnerZaKarice {
    overflow-y: scroll;
  }
 .glavniKontejner{
  display: grid;
  width: 80vw;
 }
body {
    font-family: 'Open Sans', sans-serif;
    background: #ffffff;
}
.Sigurnodolazim{
    width: 20vw;
    
}
.SmanjiNa60Posto a.active {
    background-color: #1abc9c;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    height: 100%;
  }
  .SmanjiNa60Posto .animation{
    position: absolute;
    height: 100%;
    /* height: 5px; */
    top: 0;
    /* bottom: 0; */
    z-index: 0;
    background: #1abc9c; /* 1abc9c */
    border-radius: 8px;
    transition: all .5s ease 0s;
}
@media (max-width: 768px) {
    .glavniKontejner{
        width: 100vw;
    }
    .KontejnerZaKarice{
        overflow-y: scroll;
        height: 80vh;
        padding-top: 1rem;
    }
    .SmanjiNa60Posto{
        width: 60vw;
    }
  }
  
  @media (max-width: 768px) {
    nav a{
        font-size: 8px;
    }

  }