#NaCentarDiva {
    display: grid;
    grid-template-rows: 10% 90%;
}

.RazmakniBotune {
    display: flex;
    justify-content: space-around;
}

form {
    background-color: #ffffff;
}

.contents {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.forma {
    width: 25rem; /* Set your desired maximum width */
    padding: 40px;
    background: rgba(256, 256, 256, 0.60);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
}

.gmb {
    width: 20rem;
    visibility: hidden;
}

.formaDio {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10%;
}

.JosImasNemas {
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
    margin-top: 1rem;
    gap: 0.5rem;
}

.btn {
    height: 2.5rem;
    width: 8rem;
}

.cnt {
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 400px) {
.forma{
    width: 85vw;
    height: 40vh;
}
}
@media screen and (max-width: 300px) {
    .forma{
        width: 82vw;
        height: 40vh;
        margin-right: 3rem;
    }
    }