@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.container {
    width: 100%;
    margin-top: 3rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
.KontejnerZaKarice {
     /* Set a maximum height */
    overflow-y: scroll; /* Enable vertical scrolling */
    /* Other styles for your container */
  }
 .glavniKontejner{
  display: grid;
  width: 77vw;
 }
 .kontejnerZaNavbar{
  height: 5vh;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  /* VJ IMA LIPSI NACIN */
  margin-top: 2rem;
 }
body {
    font-family: 'Open Sans', sans-serif;
    background: #ffffff;
}
nav{
    position: relative;
    /*
    margin: 270px auto 0;
    width: 590px;
     height: 50px;
     */
    background: #ffffff;
    border-radius: 8px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
nav a.active {
    /* Your styles for the active link */
    background-color: #1abc9c; /* Change to your desired background color */
    color: rgb(0, 0, 0); /* Change to your desired text color */
    border-radius: 8px;
    height: 100%;
  }
  nav a.active~.animation {
    display: none; /* Or any other styles you want to apply to remove the active effect */
  }
nav a{
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}
nav .animation{
    position: absolute;
    height: 100%;
    /* height: 5px; */
    top: 0;
    /* bottom: 0; */
    z-index: 0;
    background: #1abc9c; /* 1abc9c */
    border-radius: 8px;
    transition: all .5s ease 0s;
}
nav a:nth-child(1){
    width: 20vw;
}
nav .start-home, a:nth-child(1):hover~.animation{
    width: 20vw;
    left: 0;
}
nav a:nth-child(2){
    width: 20vw;
}
nav a:nth-child(2):hover~.animation{
    width: 20vw;
    left: 20vw;
}

@media (max-width: 768px) {
    .glavniKontejner{
        width: 100vw;
    }
    .KontejnerZaKarice{
        overflow-y: scroll;
        height: 80vh;
        padding-top: 1rem;
    }
    nav a{
        font-size: 10px;
        width: 20vw;
    }
    nav a:nth-child(1){
        width: 20vw;
    }
    nav a:nth-child(2){
        width: 20vw;
    }
    nav{
        width: 40vw;
    }
    nav .animation {
        width: 20vw; /* Match the width of the animation to nav a elements */
        transition: all .5s ease 0s;
    }
    nav .start-home, a:nth-child(1):hover~.animation{
        width: 20vw;
        left: 0;
    }
    nav a:nth-child(2):hover~.animation{
        width: 20vw;
        left: 20vw;
    }
  }
  @media (max-width: 768px) {
    nav a{
        font-size: 8px;
    }

  }