html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  display: flex;
  width: 100%;
}

.sidebar {
  color: #333;
  width: 50%;
  height: 100%;
  background: rgba(0,0,0,.05);
  box-shadow: 0 15px 25px rgba(0,0,0,.3);
  border-radius: 10px;
}

.sidebar.logged-in::before {
  height: 13%; /* ova je vrijednost za posjetitelja */
}

.sidebar.organizator::before {
  height: 9%;
}

.sidebar.administrator::before {
  height: 22%;
}

.sidebar::before {
  content: "";
  display: block;
  height: 22%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.category {
  display: flex;
  align-items: center;
  padding: 5%;
  transition: 0.1s;
}

.category img {
  width: 11%;
  margin-right: 12%; 
  margin-left: 4%;
}

.box {
  margin-bottom: 2%; 
  text-decoration: none;
}

.box a {
  text-decoration: none; /* uklanja podcrtavanje */
}

.category span {
  font-size: 115%;
  font-family: Helvetica, sans-serif;
  letter-spacing: 2px;
  color: #000;
}

.category:hover {
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  text-decoration: none; 
  transform: scale(1.015);
}

.active-category {
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  text-decoration: none; 
}

.mirror-image img {
  transform: scaleX(-1);
}

@media (max-width: 768px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .sidebar::before {
    content: none; /* sakrij background pseudo-element na mobilnim uređajima */
  }

  .category {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px; /* povećaj padding za bolje razdvajanje stavki */
  }

  .category img {
    margin: 0; /* ukloni margin za slike unutar kategorija */
  }

  .box {
    margin-bottom: 5%; /* povećaj razmak između stavki */
  }

  .box a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .category span {
    margin-top: 5px; /* dodaj margin iznad teksta */
    text-align: center;
  }
}

.mobile-elements {
  display: flex;
  justify-content: space-between; /* postavljanje slika jednu do druge */
  padding: 10px; /* dodavanje prostora oko slika */
  margin-left: 8%;
  margin-right: 8%;
}

.mobile-element {
  font-size: 40px;
}

.mobile-image {
  width: 20%; /* širina slika */
  border-radius: 8px; /* radijus rubova */
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999; /* visok z-index da bude iznad ostalog sadržaja */
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}