.window-show-all {
   background-color: white;
   padding: 20px;
   width: 80%;
   height: 60%;
   border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
   position: relative;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow-y: scroll;
}

.exit {
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: 20px;
   cursor: pointer;
}

.window-show-all div {}

.allUsers{
   display: none;
}

.divAllUsers {
   width: 100%;
}

.delete-button {
   width: 30px;
   height: 30px;
   padding: 0;
   background-color: red;
   border: red;
   border-radius: 5px;
   color: white;
   grid-area: delete;
}

@media (max-width: 768px) {

   .container.mt-5{
      display: none;
   }

   .window-show-all {
      width: 90%;
   }

   .allUsers {
      display: flex;
      flex-direction: column;
      gap: 10px;
   }

   .div-userData{
      display: flex;
      flex-direction: column;
      align-items: start;
   }

   .div-buttonDelete{
      display: flex;
      justify-content: start;
   }

   .user{
      display: flex;
      gap: 10px;
      border: 0.5px solid;
      padding: 10px;
      width: 100%;
   }

   .btn.delete-button {
      background-color: #dc3545;
      color: #fff;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      transition: background-color 0.3s;
   }

   .btn.delete-button:hover {
      background-color: #bd2130;
   }
}



hr {
   border: 0;
   height: 1px;
   background-color: #ccc;
   margin: 10px 0;
}

.btn.btn-primary {
   margin-bottom: 5px;
}
